/node_modules
/public/hot
/public/js/app.js
/public/css/app.css
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

docker/compose/db/data
docker/compose/meilisearch/data.ms
docker/compose/nginx
public/.DS_Store
public/fonts/.DS_Store
.DS_Store
