@import "../../vendor/filament/forms/dist/module.esm.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "Campton";
    src: url("../../public/fonts/Campton-LightDEMO.otf");
}

@font-face {
    font-family: "Campton";
    src: url("../../public/fonts/Campton-BoldDEMO.otf");
    font-weight: bold;
}
